/*
Colors used:
Primary Color (Pampas): #F7F6F2;
Secondary Color (Blue): #7A9CAE;
*/

body {
  background-color: #F7F6F2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #0f0f0f;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 1.75em;
  font-weight: 600;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #7A9CAE;
  text-decoration: none;
}
a:hover {
  color: #cc6540;
  text-decoration: underline;
}
