/*
Colors used:
Primary Color (Pampas): #F7F6F2;
Secondary Color (Blue): #7A9CAE;
*/


* {
  box-sizing: border-box;
}

body {
  background-color: #F7F6F2;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #0f0f0f;
}

/* Main attribute font styling */

h1 {
  font-size: 1.75em;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top,
  margin-bottom: 60px;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

/* Main attribute Styling */

main {
  padding-top: 5px;
}

header {
  background-color: #7A9CAE;
  padding: 10px 0;
  box-shadow:  0px 3px 10px 0px rgba(50, 50, 50, 0.39);
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.column {
  margin-bottom: 25px;
}

/* Universal selector classes */

.center {
  text-align: center;
}

.parentContainer {
  display: flex;
  justify-content: space-evenly;
}

/* Image styling */

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#profileImg {
  width: 100%;
  border-radius: 50%;
}

.preferenceImages {
  width: 80%;
}

#Layer_1 {
  width: 75%;
  max-width: 100%;
  height: auto;
}

/* Link & Button Styling*/

a {
  color: #7A9CAE;
  text-decoration: none;
}

a:visited {
  color: #7A9CAE;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  color: #994c30;
}

a.button {
  display: inline-block;
  background-color: #7A9CAE;
  color: #fcfcfc;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid #58707C;
  border-radius: 3px;
  transition: 0.2s opacity;
}

a.button:hover {
  opacity: 0.8;
}

a.button:active {
  color: #994c30;
}

#resumeButton {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

#emailButton {
  margin-bottom: 20px;
  width: 100%;
}

/* Logo & icon styling */

#socialIcon {
  margin-right: 20px;
}

.logo {
  max-width: 50px;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* nav bar styling */

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {

}

nav > ul >li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fcfcfc;
}

nav > ul >li > a:visited {
  color: #fcfcfc;
}

nav > ul >li > a:hover,
nav > ul >li > a:focus {
  color: navy;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid white);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Contact section styling */

#contact {
  margin-left: 30px;
  margin-right: 30px;
}

/* Index page styling */

#hero {
  text-align: center;
  background-color: #7A9CAE;
  padding: 20px;
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 60px;
}

#hero h1 {
  color: #fcfcfc;
}

#hero h2 {
  color: #0f0f0f;
}

#hero span {
  display: block;
}

#project1,
#project2 {
  margin-top: 40px;
  border-bottom: 2px solid black;
}

/* About Page Styling */

#heading {
  margin-top: 100px;
}

#content {
  margin: 30px;
}

#sectionChild1 {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}

#sectionChild2 {
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 2%;
  padding: 20px;
  display: block;
}

#skills {
  display: block;
  justify-content: center;
}

#skillsHeader {
  margin-top: 3em;
}
#skillsList {
  margin-right: 20em;
}

/*BakerieBox page styling */

#intro {
  margin-top: 100px;
  text-align: center;
}

#overview {
  background-color: #fcfcfc;
  color: #0f0f0f;
  margin: auto;
  margin-top: 2em;
  padding: 20px;
  border-radius: 15px;
}

.projectSection {
  background-color: #fcfcfc;
  padding: 20px;
  margin-bottom: 40px;
}

.projectIntroSection {
  margin-top: 40px;
}

/* keyframes */

/* sky color change */
@keyframes color-change1 {
  0% {fill: #8B699A;}
  25% {fill: #C54A5C;}
  50% {fill: #D47A75;}
  75% {fill: #C2A183;}
  100% {fill: #E7717B;}
}

@keyframes color-change2 {
  0% {fill: #C54A5C;}
  25% {fill: #D47A75;}
  50% {fill: #C2A183;}
  75% {fill: #E7717B;}
  100% {fill: #8B699A;}
}

@keyframes color-change3 {
  0% {fill: #D47A75;}
  25% {fill: #C2A183;}
  50% {fill: #E7717B;}
  75% {fill: #8B699A;}
  100% {fill: #C54A5C;}
}

@keyframes color-change4 {
  0% {fill: #C2A183;}
  25% {fill: #E7717B;}
  50% {fill: #8B699A;}
  75% {fill: #C54A5C;}
  100% {fill: #D47A75;}
}

@keyframes color-change5 {
  0% {fill: #E7717B;}
  25% {fill: #8B699A;}
  50% {fill: #C54A5C;}
  75% {fill: #D47A75;}
  100% {fill: #C2A183;}
}

#circle1 {
  animation: 8s color-change1 infinite alternate linear;
}

#circle2 {
  animation: 8s color-change2 infinite alternate linear;
}

#circle3 {
  animation: 8s color-change3 infinite alternate linear;
}

#circle4 {
  animation: 8s color-change4 infinite alternate linear;
}

#circle5 {
  animation: 8s color-change5 infinite alternate linear;
}

/* star movement */

@keyframes star-move {
  from {transform: translateX(0px);}
  to {transform: translateX(8px);}
}

@keyframes star-move2 {
  from {transform: translateX(0px);}
  to {transform: translateX(-8px);}
}

#star2 {
  animation: 4s star-move2 infinite alternate linear;
}

#star4 {
  animation: 4s star-move infinite alternate linear;
}

#star7 {
  animation: 4s star-move infinite alternate linear;
}

#star10 {
  animation: 4s star-move2 infinite alternate linear;
}

/* Medium devices (640px and larger) */

@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding: 10px 0 4px;
}

nav {
  width: auto;
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}

nav > ul {
  margin: 1em 0;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

main {
  padding-top: 70px;
}

#aboutPage h3 {
  margin-top: 0;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.logo {
  float: left;
  margin: 40px;
}

#sectionChild1 {
  width: 60%;
  align-self: center;
}

#aboutMe {
  display: flex;
  flex-direction: column;
}

#skillsList {
  margin-right: auto;
  margin-left: auto;
}

#skillsSection {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#toolsList {
  margin-right: auto;
  margin-left: auto;
}

#emailButton {
  width: 50%;
}

}

/* Large devices (1024px and larger) */

@media only screen and (min-width: 1024px) {

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #sectionChild1 {
    width: 25%;
    margin-right: 40px;
  }

  #sectionChild2 {
    width: 70%;
    background-color: #fcfcfc;
    border-radius: 2%;
    padding: 20px;
  }

  #aboutMe {
    flex-direction: row;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
  }

  #emailButton {
    width: 30%;
  }


}

/* X-large devices (1440px and larger) */

@media only screen and (min-width: 1440px) {

}
